


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
            <div class="pcoded-inner-navbar main-menu">
                <div class="pcoded-navigatio-lavel">kivtechs.cloud</div>
                <ul class="pcoded-item pcoded-left-item">
                    <!-- Home Menu -->
                    <li class="pcoded-hasmenu <%= activePage === 'main' ? 'active pcoded-trigger' : '' %>">
                        <a href="">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Home</span>
                            <span class="pcoded-badge label label-warning">NEW</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="<%= activePage === 'main' ? 'active' : '' %>">
                                <a href="/">
                                    <span class="pcoded-mtext">MAIN</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

<div class="pcoded-navigatio-lavel">AI & ML Tools</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="/">
            <span class="pcoded-micon"><i class="feather icon-box"></i></span>
            <span class="pcoded-mtext">AI Tools</span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="alert.htm">
                    <span class="pcoded-mtext">Tool 1</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="pcoded-hasmenu">
        <a href="">
            <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span>
            <span class="pcoded-mtext">AI AGENTS</span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="draggable.htm">
                    <span class="pcoded-mtext">MIRA</span>
                </a>
            </li>
     <li class="<%= activePage === 'passwordgenerator' ? 'active' : '' %>">
    <a href="/passwordgenerator">
        <span class="pcoded-micon"><i class="feather icon-lock"></i></span> <!-- Optional icon -->
        <span class="pcoded-mtext">PASSWORD GENERATOR</span>
    </a>
</li>
            <li class=" ">
                <a href="light-box.htm">
                    <span class="pcoded-mtext">Document Generator</span>
                </a>
            </li>
        </ul>
    </li>
    
    <li class="<%= activePage === 'aicore' ? 'active' : '' %>">
        <a href="/aicore">
            <span class="pcoded-micon"><i class="feather icon-aperture rotate-refresh"></i><b>A</b></span>
            <span class="pcoded-mtext">AI CORE</span>
            <span class="pcoded-badge label label-danger">HOT</span>
        </a>
    </li>
    
    <li class="<%= activePage === 'aimodels' ? 'active' : '' %>">
        <a href="/aimodels">
            <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
            <span class="pcoded-mtext">AI MODELS</span>
            <span class="pcoded-badge label label-danger">HOT</span>
        </a>
    </li>
</ul>



                            <div class="pcoded-navigatio-lavel">Product & Pricing</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="">
                                        <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                                        <span class="pcoded-mtext">Pricing</span>
                                        <span class="pcoded-badge label label-danger">HOT</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="ready-cloned-elements-form.htm">
                                                <span class="pcoded-mtext"> Pricing T1</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="ready-currency-form.htm">
                                                <span class="pcoded-mtext">Currency </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="pcoded-navigatio-lavel">USAGES</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="">
                                        <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
                                        <span class="pcoded-mtext">KOINS</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="bs-basic-table.htm">
                                                <span class="pcoded-mtext"> Koin Balance</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="">
                                        <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                                        <span class="pcoded-mtext">Utilization</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="dt-basic.htm">
                                                <span class="pcoded-mtext">Utilized</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="dt-advance.htm">
                                                <span class="pcoded-mtext">Advance Utilized</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="dt-api.htm">
                                                <span class="pcoded-mtext">API</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="dt-plugin.htm">
                                                <span class="pcoded-mtext">Plug-In</span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="dt-data-sources.htm">
                                                <span class="pcoded-mtext">Data Sources</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="">
                                        <span class="pcoded-micon"><i class="feather icon-server"></i></span>
                                        <span class="pcoded-mtext"> Past History</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="dt-ext-autofill.htm">
                                                <span class="pcoded-mtext">AutoFill</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="pcoded-navigatio-lavel">Call To actions </div>
                                    <ul class="pcoded-item pcoded-left-item">
                                        <li class="pcoded-hasmenu ">
                                            <a href="">
                                                <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                                                <span class="pcoded-mtext">Support</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a href="chart-google.htm">
                                                        <span class="pcoded-mtext"> Help Desk</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="pcoded-hasmenu ">
                                            <a href="">
                                                <span class="pcoded-micon"><i class="feather icon-map"></i></span>
                                                <span class="pcoded-mtext">Tutorials</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a href="map-google.htm">
                                                        <span class="pcoded-mtext">Tutorial 1</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="map-vector.htm">
                                                        <span class="pcoded-mtext">Tutorial 2</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="map-api.htm">
                                                        <span class="pcoded-mtext">Tutorial 3 </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="pcoded-hasmenu ">
                                            <a href="">
                                                <span class="pcoded-micon"><i class="feather icon-mail"></i></span>
                                                <span class="pcoded-mtext">Email</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a href="email-compose.htm">
                                                        <span class="pcoded-mtext">Compose Email</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="email-inbox.htm">
                                                        <span class="pcoded-mtext">Inbox</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="email-read.htm">
                                                        <span class="pcoded-mtext">Read Mail</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu ">
                                                    <a href="">
                                                        <span class="pcoded-mtext">Email Template</span>
                                                    </a>
                                                    <ul class="pcoded-submenu">
                                                        <li class="">
                                                            <a href="https://siddhbose-kivtechs.github.io/new_site_theme/components/extra-pages\email-templates\email-welcome.htm">
                                                                <span class="pcoded-mtext">Welcome Email</span>
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="https://siddhbose-kivtechs.github.io/new_site_theme/components/extra-pages\email-templates\email-password.htm">
                                                                <span class="pcoded-mtext">Reset Password</span>
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="https://siddhbose-kivtechs.github.io/new_site_theme/components/extra-pages\email-templates\email-newsletter.htm">
                                                                <span class="pcoded-mtext">Newsletter Email</span>
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="https://siddhbose-kivtechs.github.io/new_site_theme/components/extra-pages\email-templates\email-launch.htm">
                                                                <span class="pcoded-mtext">App Launch</span>
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="https://siddhbose-kivtechs.github.io/new_site_theme/components/extra-pages\email-templates\email-activation.htm">
                                                                <span class="pcoded-mtext">Activation Code</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <li class="pcoded-hasmenu ">
                                    <a href="">
                                        <span class="pcoded-micon"><i class="feather icon-sliders"></i></span>
                                        <span class="pcoded-mtext">FAQ</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="error.htm">
                                                <span class="pcoded-mtext">Error</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="comming-soon.htm">
                                                <span class="pcoded-mtext">Comming Soon</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="offline-ui.htm">
                                                <span class="pcoded-mtext">Offline UI</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <div class="pcoded-navigatio-lavel"> USERS </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-unlock"></i></span>
                                            <span class="pcoded-mtext">Authentication</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="auth-normal-sign-in.htm" target="_blank">
                                                    <span class="pcoded-mtext"> AUTH</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="auth-modal.htm" target="_blank">
                                                    <span class="pcoded-mtext">OKTA details</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                            <span class="pcoded-mtext">User Profile</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="timeline.htm">
                                                    <span class="pcoded-mtext">Timeline</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="timeline-social.htm">
                                                    <span class="pcoded-mtext">Timeline Social</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="user-profile.htm">
                                                    <span class="pcoded-mtext">User Profile</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="user-card.htm">
                                                    <span class="pcoded-mtext">User Card</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                                            <span class="pcoded-mtext"> CART</span>
                                            <span class="pcoded-badge label label-danger">NEW</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="product.htm">
                                                    <span class="pcoded-mtext">Product</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="product-list.htm">
                                                    <span class="pcoded-mtext">Product List</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="product-edit.htm">
                                                    <span class="pcoded-mtext">Product Edit</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="product-detail.htm">
                                                    <span class="pcoded-mtext">Product Detail</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="product-cart.htm">
                                                    <span class="pcoded-mtext">Product Card</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="product-payment.htm">
                                                    <span class="pcoded-mtext">Credit Card Form</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

              

                                    <div class="pcoded-navigatio-lavel">Privacy Policy</div>
                                              <li class="pcoded-hasmenu <%= activePage === 'privacypolicy' ? 'active pcoded-trigger' : '' %>">
                        <a href="">
                            <span class="pcoded-micon"><i class="feather icon-message-square"></i></span>
                            <span class="pcoded-mtext">Privacy Policy</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="<%= activePage === 'privacypolicy' ? 'active' : '' %>">
                                <a href="/privacy">
                                    <span class="pcoded-mtext">View Privacy Policy</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    </ul>

                                <div class="pcoded-navigatio-lavel"> About US</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-file-plus"></i></span>
                                            <span class="pcoded-mtext">Editor</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="ck-editor.htm">
                                                    <span class="pcoded-mtext">CK-Editor</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="wysiwyg-editor.htm">
                                                    <span class="pcoded-mtext">WYSIWYG Editor</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="ace-editor.htm">
                                                    <span class="pcoded-mtext">Ace Editor</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="long-press-editor.htm">
                                                    <span class="pcoded-mtext">Long Press Editor</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-file-minus"></i></span>
                                            <span class="pcoded-mtext">Invoice</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="invoice.htm">
                                                    <span class="pcoded-mtext">Invoice</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="invoice-summary.htm">
                                                    <span class="pcoded-mtext">Invoice Summary</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="invoice-list.htm">
                                                    <span class="pcoded-mtext">Invoice List</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu ">
                                        <a href="">
                                            <span class="pcoded-micon"><i class="feather icon-calendar"></i></span>
                                            <span class="pcoded-mtext">Event Calendar</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="event-full-calender.htm">
                                                    <span class="pcoded-mtext">Full Calendar</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="event-clndr.htm">
                                                    <span class="pcoded-mtext">CLNDER</span>
                                                    <span class="pcoded-badge label label-info">NEW</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="image-crop.htm">
                                            <span class="pcoded-micon"><i class="feather icon-scissors"></i></span>
                                            <span class="pcoded-mtext">Image Cropper</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="file-upload.htm">
                                            <span class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span>
                                            <span class="pcoded-mtext">File Upload</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="change-loges.htm">
                                            <span class="pcoded-micon"><i class="feather icon-briefcase"></i><b>CL</b></span>
                                            <span class="pcoded-mtext">Change Loges</span>
                                        </a>
                                    </li>
                                </ul>


                                <div class="pcoded-navigatio-lavel">Terms & Condition</div>

                                <ul class="pcoded-item pcoded-left-item">
                                   <li class="pcoded-hasmenu <%= activePage === 'tandc' ? 'active pcoded-trigger' : '' %>">

                                        <a href="/terms">
                                            <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                                            <span class="pcoded-mtext">Terms & Condition</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="">
                                                    <span class="pcoded-mtext">Menu Level 2.1</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu ">
                                                <a href="">
                                                    <span class="pcoded-mtext">Menu Level 2.2</span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <li class="">
                                                        <a href="">
                                                            <span class="pcoded-mtext">Menu Level 3.1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="">
                                                    <span class="pcoded-mtext">Menu Level 2.3</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>



                                    <li class="">
                                        <a href="/logout" class="disabled">
                                            <span class="pcoded-micon"><i class="feather icon-power"></i></span>
                                            <span class="pcoded-mtext"> Log Off </span>
                                        </a>
                                    </li>
                    </nav>